:root {
    --main-color: #00876C;
    --accent-color: #4664AA;
    --accent-color-fg: #699ED5;
}

body {
    font-family: 'Roboto', sans-serif;
    background: whitesmoke;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.4s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#about {
    content: 'flex';
    flex-direction: column;
    margin: 15px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--accent-color);
    color: #fff;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--main-color);
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--accent-color);
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: var(--accent-color-fg);
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}

/* ---------------------------------------------------
    MEDIAQUERIES
-----------------------------------------------------*/

@media (max-width: 800px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .sidebar-header {
        vertical-align: center;
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
        overflow: hidden;
    }

    #sidebar {
        min-width: 100%;
    }

    #menu {
        padding: 0 !important;
        margin-bottom: 0 !important;
        display: flex;
        align-items: stretch;
    }

    #menu > li {
        flex-grow: 1;
        flex-basis: 0;
    }

    ul > li + li {
        border-left: 1px solid #fff;
    }

    #menu > li > a {
        text-align: center;
    }

    #about {
        display: none;
    }


}

@media (max-width: 390px) {
    .sidebar-header {
        min-height: 13vh;
    }
}

/* ---------------------------------------------------
    Transcript
----------------------------------------------------- */

#transcript-box {
    min-height: 50vh;
    max-height: 50vh;
    font-size: large;
}

#wordcloud-box {
    min-height: 50vh;
    max-height: 50vh;
    font-size: large;
    alignment: center;
}

#interim_text {
    font-style: italic;
}

/* ---------------------------------------------------
    Controls
----------------------------------------------------- */

.btn {
    margin: 1vh;
    width: 14vh;
    min-width: fit-content;
}

.btn-primary {
    background: var(--accent-color);
    border-color: var(--accent-color-fg);
}
.btn-primary:hover {
    background: var(--accent-color-fg);
}

#clear {
    display: none;
}