<p>Diese Seite wurde im Rahmen der Vorlesung <a href="https://pcs.tm.kit.edu/530_534.php">Mobile Computing und Internet der Dinge</a> am KIT erstellt.</p>
<p>Es handelt sich dabei nicht um eine geschäftsmäßig betriebene Webseite, sondern vielmehr eine Testumgebung.</p>