<p>Die Spracherkennung funktioniert über die von Ihrem Webbrowser zur Verfügung gestellten Schnittstelle. Für die Verarbeitung dieser Daten gilt die Datenschutzerklärung des Browsers.</p>
<p>Seitens dieser Webseite werden alle Daten, insbesondere die gesprochene Sprache und daraus resultierende Transkripte nur lokal gespeichert, also nicht übermittelt.</p>
<p>Es fallen jedoch die für Webseiten üblichen Metadaten wie IP-Adresse, Useragent und Zugriffszeitpunkt beim Zugriff auf diese Seite und ihre Unterseiten an.</p>

