<div class="card">
    <div class="card-header">
        Transkript
    </div>
    <div class="card-body">
        <div class="overflow-auto" id="transcript-box">
            <span id="final_text" class="final"></span> <span id="interim_text" class="interim"></span><br>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" id="start">Start</button>
<button type="button" class="btn btn-warning" id="clear">Clear</button>