<div class="card">
    <div class="card-header">
        Wordcloud
    </div>
    <div class="card-body">
        <div class="overflow-auto" id="wordcloud-box">
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" id="generate">Alle Wörter</button>
<button type="button" class="btn btn-primary" id="generateUncommon">Ohne Gewöhnliche Wörter</button>

